# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/JavaRushHomeWork.iml
!/out/
!/.idea/
!/src/DO NOT READ.txt
!/src/JavaRushPlugin.properties
